
@font-face {
  font-family: "heading-font";
  src: url("./fonts/BEBASNEUE-REGULAR.TTF");
}
@font-face {
  font-family: "text";
  /*src: url("./fonts/KURALE-REGULAR.TTF");*/
  src: url("./fonts/SITKA.TTC");
}
.Home{
    padding-top: 10vh;
    background-color: rgb(160, 145, 245);
    width: 100vw;
    color: white;
    /*background-image: linear-gradient(180deg, rgb(225, 0, 255), rgb(95, 239, 255));*/
    background-color: #3a3b3a;
  }

  .url-label, .url-input,.error-label, .text-label, .textbox, p {
    margin-top: 20px;
    font-size: large;
    font-family: open-sans, sans-serif;

  font-weight: 400;

  font-style: normal;
  }
  .error-label{
    background-color: rgb(255, 182, 182);
    border-color: rgb(255, 103, 103);
    color: black;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-radius: 5px;
  }
  .url-input{
    background-color: inherit;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.5; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.5; /* Firefox */
  }
  .url-input:focus, .textbox:focus{
    outline: none;
  }

.textbox{
  height: 50vh;
  width: 90vw;
  border-radius: 5px;
  padding: 10px;
  color: black;
}
textarea::placeholder{
  color: black;
}
.text-sharer-logo{
  width: 20vw;
}
.button, .deleteButton{
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: open-sans, sans-serif;
font-weight: 400;
font-style: normal;
  
}

.deleteButton{
  background-color: rgb(255, 129, 129);
}

.icon{
  display: inline;
  width: 20px;
  filter: invert(1);
  cursor: pointer;
  color: white;
}
img{
  display: inline;
}


.guide{
  text-align: left;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
  font-size: medium;
  border-radius: 5px;
  height: 50vh;
}
ul, h4{
  margin-left: 100px;
  font-size: 1.5em;
}
.image1{
  display: inline;
  width: 30%;
  position: absolute;
  right: 10%;
  transform: translateY(-60px)
}

input{
    color: white;
}

.footer{
  background-color: #1f1f1f;
  padding-top: 20px;
  padding-bottom: 20px;
   text-align: center;
   align-items: center;
   color: white;
}
.link{
  color: white;
}
 .logo{
   width:200px;
 }

 .privacy_policy{
   text-align: left;
   padding: 30px 30px 30px 30px;
   margin-left: 10%;
   margin-right: 30%;
   background-color: white;
   color: black;
 }
.header{
  position: fixed;
  top: 0%;
  text-align: left;
  background-color: rgba(15, 15, 15, 0.5);
  height: 60px;
  padding-left: 5%;
  padding-top: 10px;
  display: block;
  width: 100%;
}
.nav-links{
  color: white;
  font-family: open-sans, sans-serif;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  float: right;
  margin-right: 20px;
  border: none;
  background-color:transparent;
}
.nav-links:hover{
  color: white;
  background-color: rgb(225, 0, 255);
  border-radius: 5px;
  border: none;
}



#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: white;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

.fcf-body{
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  transform:translateX(30%);
}

.contact-me{
  background-color: #3a3b3a;
  padding-bottom: 20px;
  padding-top: 20px;
}
#fcf-button{
  background-color: #fed41f;
  width: 200px;
  font-size: 15px;
  position: absolute;
  border: none;
  color: black;

}

.textPage{
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .Home, .homePage{
    padding-top: 3vh;
    width: 100%;
    transform: translateX(-0.5%);
  }
  .header{
    display: none;
  }
  .fcf-body{
    width: 80%;
    transform: translateX(10%);
  }
  ul, h4{
    margin-left: 0px;
    font-size: 0.9em;
  }
  .text-sharer-logo{
    width: 50vw;
  }
}






